In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import geopandas as gpd
import chardet
import uuid

import os

In [6]:
a = [x for x in os.listdir('Data/Ready/csv/') if x[-4:]=='.csv']

print(a)

['Hafren Dyfrdwy.csv', 'SES.csv', 'Severn Trent.csv', 'Southern Water.csv', 'United Utilities.csv', 'Wessex Water.csv']

In [13]:
# Need to make sure columns names are correct otherwise xml won't save (have to use "LSOA" not "LSOA or Data zone")
# Need to align all of the column headers
# Need to make sure that the file names are what I want to populate the Data Provider column with

# Function for generating and replacing Sample_Id with UUIDs
def generate_uuid_for_unique_entries(column):
    unique_values = column.unique()
    uuid_dict = {value: str(uuid.uuid4()) for value in unique_values}
    return column.map(uuid_dict)


# Creating a list of all csv's in Data dir
a = [x for x in os.listdir('Data/') if x[-4:]=='.csv']


for dataset in a[-2:-1]:
    print(dataset)
    
    with open(f'Data/{dataset}', 'rb') as rawdata:
        result = chardet.detect(rawdata.read(10000))
    print(result)
    
    
    df = pd.read_csv(f'Data/{dataset}', encoding=result['encoding'].lower())
    df['Data_Provider'] = dataset[:-4]
    df['Sample_Id'] = generate_uuid_for_unique_entries(df['Sample_Id'])
    display(df)
    
    df_csv = df
    df_xml = df
    df_json = df
    
    
    df_csv.to_csv(f'Data/Ready/csv/{dataset[-4:]}.csv')
    df_xml.to_xml(f'Data/Ready/xml/{dataset[-4:]}.xml')
    df_json.to_json(f'Data/Ready/json/{dataset[-4:]}.json')

United Utilities.csv
{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

C:\Users\trenwick\AppData\Local\Temp\ipykernel_5484\4225371947.py:24: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f'Data/{dataset}', encoding=result['encoding'].lower())

,Sample_Id,Sample_Date,Determinand,DWI_Code,Units,Operator,Result,LSOA,Data_Provider
0,7b50a274-a456-4c6e-9602-e2d4825cd1cb,04/01/2022,Colony Counts at 22°C,C007,n/ll,NaN,0,E01025174,United Utilities
1,7b50a274-a456-4c6e-9602-e2d4825cd1cb,04/01/2022,Residual chlorine - Free,C009,mg/l,NaN,0.88,E01025174,United Utilities
2,7b50a274-a456-4c6e-9602-e2d4825cd1cb,04/01/2022,E. coli,C002,n/dl,NaN,0,E01025174,United Utilities
3,7b50a274-a456-4c6e-9602-e2d4825cd1cb,04/01/2022,Enterococci,C003,n/dl,NaN,0,E01025174,United Utilities
4,7b50a274-a456-4c6e-9602-e2d4825cd1cb,04/01/2022,Coliform bacteria (Indicator),C001A,n/dl,NaN,0,E01025174,United Utilities
...,...,...,...,...,...,...,...,...,...
189066,cbe626d7-52fc-46c3-bf22-37c715157258,31/12/2022,Antimony,B008A,ug/l,<,0.31,E01005336,United Utilities
189067,cbe626d7-52fc-46c3-bf22-37c715157258,31/12/2022,Arsenic,B001A,mg/k,<,0.48,E01005336,United Utilities
189068,cbe626d7-52fc-46c3-bf22-37c715157258,31/12/2022,Bromate,F003,ug/l,NaN,0.51,E01005336,United Utilities
189069,f9176013-d716-4c48-8cd8-2f3209aa3c88,31/12/2022,Residual chlorine - Free,C009,mg/l,NaN,0.42,E01025071,United Utilities
189070,f9176013-d716-4c48-8cd8-2f3209aa3c88,31/12/2022,Residual chlorine - Total,C010,mg/l,NaN,0.46,E01025071,United Utilities

In [15]:
a = ['Data/Ready/csv/' + x for x in os.listdir('Data/Ready/csv/') if x[-4:]=='.csv']
a

df = pd.concat((pd.read_csv(f) for f in a), ignore_index=True)
df = df.drop('Unnamed: 0', axis=1)
display(df)

['Data/Ready/csv/Hafren Dyfrdwy.csv',
 'Data/Ready/csv/SES.csv',
 'Data/Ready/csv/Severn Trent.csv',
 'Data/Ready/csv/Southern Water.csv',
 'Data/Ready/csv/United Utilities.csv',
 'Data/Ready/csv/Wessex Water.csv']

In [22]:
df = pd.concat((pd.read_csv(f) for f in a), ignore_index=True)
df = df.drop('Unnamed: 0', axis=1)
display(df)

C:\Users\trenwick\AppData\Local\Temp\ipykernel_14940\4206880368.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in a), ignore_index=True)

,Sample_Id,Sample_Date,Determinand,DWI_Code,Units,Operator,Result,LSOA,Data_Provider
0,677b37dd-5e1a-449a-b030-cf742d7f215c,24/01/2022,Arsenic,B001A,µg/l,<,0.15,W01000208,Hafren Dyfrdwy
1,677b37dd-5e1a-449a-b030-cf742d7f215c,24/01/2022,Taste,A004,Dilution Number,,0.0,W01000208,Hafren Dyfrdwy
2,677b37dd-5e1a-449a-b030-cf742d7f215c,24/01/2022,Selenium,B009,µg/l,<,0.32,W01000208,Hafren Dyfrdwy
3,677b37dd-5e1a-449a-b030-cf742d7f215c,24/01/2022,Odour,A003,Dilution Number,,0.0,W01000208,Hafren Dyfrdwy
4,677b37dd-5e1a-449a-b030-cf742d7f215c,24/01/2022,Antimony,B008A,µg/l,<,0.07,W01000208,Hafren Dyfrdwy
...,...,...,...,...,...,...,...,...,...
554975,2be93bc7-e1fc-4718-a031-3a6b01015024,30/11/2022,Odour,A003,No.,NaN,0.0,E01029136,Wessex Water
554976,00ba43dc-991e-436b-8226-f569a5b3987e,30/11/2022,Taste (Taste Quant),A004,No.,NaN,0.0,E01029136,Wessex Water
554977,fedd8fee-c063-407b-bea8-8c712f579628,30/11/2022,Aluminium (Total),A021,?g/l Al,<,10.0,E01029136,Wessex Water
554978,a7550c8c-e586-471b-b727-e7623c28d4c4,30/11/2022,Residual Disinfectant - Total,C010,mg/l,NaN,0.52,E01029136,Wessex Water
554979,1f3ccbd3-0dc3-4c03-99ad-ad95c25ea180,30/11/2022,Turbidity,A002,NTU,NaN,0.13,E01029136,Wessex Water

Index(['Sample_Id', 'Sample_Date', 'Determinand', 'DWI_Code', 'Units',
       'Operator', 'Result', 'LSOA', 'Data_Provider'],
      dtype='object')

In [24]:
display(df.groupby('Operator').Sample_Id.nunique())

Operator
     22763
<    31518
>       30
Name: Sample_Id, dtype: int64

In [25]:
display(df[df['Operator']=='>'])

,Sample_Id,Sample_Date,Determinand,DWI_Code,Units,Operator,Result,LSOA,Data_Provider
63592,e90c95af-9c2e-4abe-8cac-537e9242c836,14/09/2022,Colony Count After 72 Hours at 22ºC,C007,No. / 100ml,>,1000.0,E01019680,Severn Trent
109021,1baecc9b-05cb-4969-b4f9-804ab59311be,25/07/2022,Colony Count After 72 Hours at 22ºC,C007,No. / 100ml,>,1000.0,E01025865,Severn Trent
119215,1795dc2c-6596-4787-84c8-8fff2ceea697,30/03/2022,Coliform Bacteria,C001A,No. / 100ml,>,100.0,E01028310,Severn Trent
131442,cab68463-421b-4921-b6fc-ebfc052fc168,21/04/2022,Colony Count After 72 Hours at 22ºC,C007,No. / 100ml,>,1000.0,E01013945,Severn Trent
131939,bf9f13f5-90ee-41eb-97d6-7f8ed7e2eee1,15/06/2022,Colony Count After 72 Hours at 22ºC,C007,No. / 100ml,>,1000.0,E01028060,Severn Trent
177620,9cc92e30-5bfe-48a5-a696-099ba518054c,06/12/2022,Colony Count After 72 Hours at 22ºC,C007,No. / 100ml,>,1000.0,E01028861,Severn Trent
180102,a411d8a0-676f-411a-8400-ace8ea025ac0,02/02/2022,Odour,A003,Dilution Number,>,10.0,E01009553,Severn Trent
187804,4a0ea8ae-4ef4-457d-96cc-3929f38f117d,27/07/2022,Colony Count After 72 Hours at 22ºC,C007,No. / 100ml,>,1000.0,E01031136,Severn Trent
218154,c448df6b-08b2-43d0-8363-aa71f9f7424f,01/06/2023,TOTAL VIABLE COUNT (3 DAY AT 22C),C007,NUMBER/ML,>,300.0,E01017264,Southern Water
224826,c9160d56-a9b7-4478-921c-90de5a3efa46,24/05/2022,TOTAL VIABLE COUNT (3 DAY AT 22C),C007,NUMBER/ML,>,300.0,E01022680,Southern Water
232751,3908d52e-1c8f-46de-b947-339dbe9fe8fd,27/10/2022,COLIFORMS (CONFIRMED TOTAL),C001,NUMBER/100ML,>,100.0,E01024716,Southern Water
255716,da07b75a-9860-4d63-8713-3e5a24672be1,21/07/2022,TOTAL VIABLE COUNT (3 DAY AT 22C),C007,NUMBER/ML,>,300.0,E01021013,Southern Water
268202,f1bb7f34-8ab6-4cfc-a60d-691026c76743,27/09/2022,TOTAL VIABLE COUNT (3 DAY AT 22C),C007,NUMBER/ML,>,300.0,E01017273,Southern Water
280787,1c1a17a5-1088-4749-9be1-64d38c8217b0,04/10/2023,COLIFORMS (CONFIRMED TOTAL),C001,NUMBER/100ML,>,100.0,E01023178,Southern Water
280788,1c1a17a5-1088-4749-9be1-64d38c8217b0,04/10/2023,E. COLI (CONFIRMED),C002,NUMBER/100ML,>,10.0,E01023178,Southern Water
280914,0640bf09-bfa3-4474-8576-d288bf053334,19/08/2022,TOTAL VIABLE COUNT (3 DAY AT 22C),C007,NUMBER/ML,>,300.0,E01032753,Southern Water
302830,e330dbab-f530-43f1-984e-677d5428846e,07/02/2022,TOTAL VIABLE COUNT (3 DAY AT 22C),C007,NUMBER/ML,>,300.0,E01016899,Southern Water
328060,6c897ff1-15b6-4c62-b53f-489dc01cb4ad,05/01/2022,Coliform bacteria (Indicator),C001A,n/dl,>,100,E01005510,United Utilities
343177,5a8f0ddd-cce9-4c31-8a3e-b4caaba7c2d8,03/02/2022,Coliform bacteria (Indicator),C001A,n/dl,>,100,E01018429,United Utilities
346827,de15591a-62df-428c-8c38-8ab0664c6080,09/02/2022,Colony Counts at 22°C,C007,n/ll,>,300,E01019321,United Utilities
385143,4776af15-ee48-431b-b4e7-8882ad70111c,21/04/2022,Colony Counts at 22°C,C007,n/ll,>,300,E01019756,United Utilities
389921,122b1ec1-f841-4822-b202-b04289d46f9e,03/05/2022,Colony Counts at 22°C,C007,n/ll,>,300,E01006084,United Utilities
417265,f38a5de6-1191-4201-a74e-3779088a8538,21/06/2022,Coliform bacteria (Indicator),C001A,n/dl,>,100,E01006768,United Utilities
430292,7dc9747e-09be-4b2b-806b-f0233c47d02d,11/07/2022,Colony Counts at 22°C,C007,n/ll,>,300,E01019156,United Utilities
436226,9090b286-1d89-4996-866b-1e4fbc9c493e,24/07/2022,Colony Counts at 22°C,C007,n/ll,>,300,E01005028,United Utilities
450560,f7f7084f-53a1-461f-bb4b-3ffba944cbe4,21/08/2022,Coliform bacteria (Indicator),C001A,n/dl,>,100,E01006723,United Utilities
451255,cafc2a18-a52e-45fd-bf9f-a62c91d29d57,22/08/2022,Colony Counts at 22°C,C007,n/ll,>,300,E01006739,United Utilities
461171,009e0cd9-8543-4698-b30a-a8a2d4bda03c,12/09/2022,Coliform bacteria (Indicator),C001A,n/dl,>,100.0,E01005732,United Utilities
465002,a146a56b-f978-42d2-8ad6-293f1fc81c8c,20/09/2022,Colony Counts at 22°C,C007,n/ll,>,300.0,E01018596,United Utilities
496540,8f946792-4880-4f5d-9de2-3465bdb15e6d,18/11/2022,Colony Counts at 22°C,C007,n/ll,>,300.0,E01012411,United Utilities
507810,d56ffc05-6259-4a1a-9969-f9b3993a4c2b,05/12/2022,Colony Counts at 22°C,C007,n/ll,>,300.0,E01006363,United Utilities