In [1]:
import sqlalchemy
import pyodbc
import pandas as pd
import re
from DAL_Class_1 import DAL
import processing_functions
from datetime import datetime
from site_information_class import SiteDataProcessor
import tkinter as tk
from tkinter import simpledialog, scrolledtext 
from tkinter import ttk
from PIL import Image, ImageTk
from tkinter import messagebox
import math
import tkinter as tk
from Class_tkinter import SiteInformationApp  # Assuming your class is in a file named site_information_app.py

if __name__ == "__main__":
    root = tk.Tk()
    app = SiteInformationApp(root)
    root.mainloop()
    # Access the DataFrame after the main loop

    df_spill_hours_global = app.df_spill_hours

Established Connection
Closed Connection
Selected DB Addr: E11726
Selected Source: Waste
Selected DB Addr: E11943
Selected Source: Waste
2024-01-01 2024-10-01 11943 Waste
Established Connection
Closed Connection
Head of df_spill_hours:
   Hour  DbAddr  count  mean_EValue  stddev_EValue  min_EValue  max_EValue  \
0     0   11943     12   100.904053       0.110418  100.577637  100.961426
1     1   11943     12   100.928630       0.033048  100.858398  100.959961
2    10   11943     12    95.950399       0.426171   95.418945   96.724609
3    11   11943     12    96.512858       0.411193   95.955078   97.390625
4    12   11943     12    96.998332       0.461245   96.395020   98.006348

   5percentile  50percentile  95percentile  CountofOutOfDate  \
0   100.705469    100.942627    100.959009                 0
1   100.861084    100.936523    100.957544                 0
2    95.480444     95.908936     96.687280                 0
3    96.006372     96.492920     97.133350                 0
4    96.513452     96.864014     97.676831                 0

   CountofOutOfRange  CountofSuspect SourceSystem  Year  Month  Day  \
0                 12               0        WASTE  2024      1    1
1                 12               0        WASTE  2024      1    1
2                  0               0        WASTE  2024      1    1
3                  0               0        WASTE  2024      1    1
4                  0               0        WASTE  2024      1    1

   spill_hours
0   2024-1-1-0
1   2024-1-1-1
2  2024-1-1-10
3  2024-1-1-11
4  2024-1-1-12
Running spill query with level: 95, start date: 2024-01-01, end date: 2024-10-01

In [3]:
df_spill_hours_global.head()

,Hour,DbAddr,count,mean_EValue,stddev_EValue,min_EValue,max_EValue,5percentile,50percentile,95percentile,CountofOutOfDate,CountofOutOfRange,CountofSuspect,SourceSystem,Year,Month,Day,spill_hours
0,0,11943,12,100.904053,0.110418,100.577637,100.961426,100.705469,100.942627,100.959009,0,12,0,WASTE,2024,1,1,2024-1-1-0
1,1,11943,12,100.928630,0.033048,100.858398,100.959961,100.861084,100.936523,100.957544,0,12,0,WASTE,2024,1,1,2024-1-1-1
2,10,11943,12,95.950399,0.426171,95.418945,96.724609,95.480444,95.908936,96.687280,0,0,0,WASTE,2024,1,1,2024-1-1-10
3,11,11943,12,96.512858,0.411193,95.955078,97.390625,96.006372,96.492920,97.133350,0,0,0,WASTE,2024,1,1,2024-1-1-11
4,12,11943,12,96.998332,0.461245,96.395020,98.006348,96.513452,96.864014,97.676831,0,0,0,WASTE,2024,1,1,2024-1-1-12